#welcome {
    color: red;
    text-align: center;
    background-color: aqua;
}

img {
    width: 200px;
    height: 300px;
    border-radius: 40px;
}

img:hover{
    width: 700px;
    height: 600px;
    border width: 5px;
    border-color: pink;
}
#button{width: 30px;width: 50px;background-color: antiquewhite;
    color: whitesmoke;font-weight: bolder;
    font-size: 30px;border-radius: 10px;

}
#go:focus {
    background-color: yellow;
    color: black;
}
input {
    width: 500px;
    height: 50px;
    padding-left: 10px;
}